*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #211832;
    color: #FFFFFF;
}
.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center; 
    padding: 10px 15px;
    border-bottom: 1px solid #444;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1A0F2D;
    z-index: 1;
    margin-bottom: 50px;

}
.nav-menu{
    display: none;
}

.front-logo{
    display: flex;
    align-items: center;
    gap: 10px; /*space between items*/
}
.front-logo:hover{
    color: #F25912;
}
.logo{
    width: 42px;
    height: 42px;
}
.navbar{
    display: grid;
    grid-template-columns: repeat(5, max-content);
    column-gap: 20px;
    margin-left: auto;
    
}
.navbar a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}
.navbar a:hover{
    color: #F25912;
    text-decoration:solid underline;
}

h2{
    display: grid;
    justify-content: center;
    margin-top: 20px;
    font-size: 28px;
}
h2:hover{
    color: #F25912;
    text-decoration: underline;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(4, max-content);
    column-gap: 10px;
    justify-content: center; 
    padding: 50px 0;
    gap: 50px; /*space between items*/
    vertical-align: bottom;
}
.product-card{
    width: 200px;
    padding: 20px;
}
.product-card img{
    width: 100%;
    height: 200px;
}
.product-card img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
.price{
    font-size: 22px;
    margin-top: 20px;
}
.title{
    font-size: 18px;
    margin-top: 8px;
    color: #b6b6b6;
}
.btn-cart{
    margin-top: 15px;
    font-size: 14px;
    padding: 10px 13px;
    background-color: #F25912;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row; /*default when using flex*/
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.btn-cart:hover{
    background-color: #F93827;
}
.discount-badge{
    position: relative;
}
.discount-badge span{
    position: absolute;
    top: 10px;
    right: -10px;
    background-color: #F25912;
    color: #FFFFFF;
    padding: 3px 13px;
    width: 70px;
    text-align: center;
    font-size: 12px;
    border-radius: 8px;
    transform: rotate(10deg);
}
.discount-badge:hover img,
.discount-badge:hover span {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
.discount-badge:hover span {
    transform: scale(1.05) rotate(10deg);
}
.discount-badge .price{
    text-decoration: line-through;
    color: #888;
}
.discount-price{
    font-size: 16px;
    color: rgba(255,0,0,0.8);
    margin-top: 5px;
}
.icon{
    width: 18px;
    height: 18px;
}
.footer{
    text-align: center;
    padding: 25px;
    border-top: 1px solid #444;
    margin-top: 30px;
}
.footer p:hover{
    color: #F25912;
    text-decoration: underline;
}
a{
    text-decoration: none;
}

.nav-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0px 15px;
    border-bottom: 1px solid #444;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1A0F2D;
}

<<<<<<< HEAD
=======

>>>>>>> 64f8ebfdabe02ff56970ff7bc822118806e0edd9
.foot-icon{
    width: 24px;
    height: 24px;
    
}

.nav-footer{
    display: none;
}

/*Laptop view*/
@media(max-width: 1200px){
    .header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center; 
    padding: 10px 15px;
    border-bottom: 1px solid #444;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1A0F2D;
    z-index: 1;

}


    .nav-menu{
        display: none;
    }
    .product-container{
    display: grid;
    grid-template-columns: repeat(4, max-content);
    column-gap: 10px;
    justify-content: center; 
    padding: 50px 0;
    gap: 50px; /*space between items*/
    vertical-align: bottom;
}
}

/*tablet view*/
@media(max-width: 992px){
    

    .logo{
    width: 36px;
    height: 36px
    }

    .front-logo, .front-logo h1{
        font-size: 22px;
    }

    .product-container{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    column-gap: 10px;
    justify-content: center; 
    padding: 50px 0;
    gap: 50px; /*space between items*/
    vertical-align: bottom;
}
}

/*mobile view*/
@media(max-width: 768px){
     .navbar{
        display: none;
    }

    /* .nav-footer{
        z-index: 1;
    } */

    /* .nav-list{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    padding: 15px;
    padding-left: 100px;
} */
<<<<<<< HEAD

.footer{
    margin-bottom: 100px;
=======
.nav-footer, .mobile-nav, .nav-list{
    display: flex;
    justify-content: center;
} 
.nav-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 100px;
    list-style: none;
    padding: 15px;
>>>>>>> 64f8ebfdabe02ff56970ff7bc822118806e0edd9
}
.nav-footer, .mobile-nav{
    display: flex;
    justify-content: center;
} 

.nav-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 100px;
    list-style: none;
    padding: 15px;
}

    .logo{
    width: 24px;
    height: 24px
    }
    .front-logo, .front-logo h1{
        font-size: 18px;
    }

    .product-container{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 10px;
    justify-content: center; 
    padding: 50px 0;
    gap: 50px; /*space between items*/
    vertical-align: bottom;
    z-index: 0;
}

}
